

header{
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #a83e00;
  color: white;
  align-items:center;
  justify-content: space-between;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;

  //immediate span; not every span
  > span{
      cursor: pointer;
      &:hover {
        color: #777;
      }
    }

  ul{
    list-style: none;

    //changing the hover and showing that it's a link by changing it's colour
    li{
      cursor: pointer;
      &:hover {
        color: #777;
      }
    }
  }
}